{% for product in product_list %}
<div class="products_item">
        <div class="products_img">
            <img src={{product.image}} alt="">
        </div>
        <div class="products_text">
            <p class="product_name">{{product.name}}</p>
            <p class="description">{{product.description}}</p>
            <p>De: R$ {{product.oldPrice}},00</p>
            <p class="product_price">Por: R${{product.price}},00 </p>
            <p>ou {{product.count}} de {{product.value}},00 </p>
            <button>Comprar</button>
        </div>
    </div>
{% endfor %}

